@import '../lib/normalize.styl/normalize'
@import 'fonts'
@import 'colors'

// Common Styles
h1,h2,h3,h4,h5,h6,figure
  margin 0
  padding 0
body
  font-family 'Varela Round'
  font-size 16px

// ------------ Views ---------------

// Login and Sign Up views
.Header
  background url('../assets/bg_header.jpg') center center
  background-size cover
  background-position 38em 0
  color sf_white
  text-align center
  height 100vh

.Header-Logo
  margin 0 auto
  padding 4em 0 1em 0
  width 150px
  img
    width 100%

.Header-copy
  margin 1em
  font-size 1.5em

.Sociallogin
  ul
    list-style-type none
    margin 2em 0
    padding 0
    li
      margin 1em 0

.Locallogin
  position absolute
  bottom 0
  width 100%
  ul
    display inline-block
    background sf_white
    list-style-type none
    text-align center
    margin 0
    padding 0
    width 100%
    li
      display inline-block
      padding 1em
      width 30%
      margin 0 auto
      text-align center
      &:first-child
        border-right 1px solid sf_gray

.Locallogin-link
  display inline-block
  color sf_gray
  font-size .8em

.Marketing
  margin 1em auto 2em auto
  width 100%
  border-bottom 1px solid sf_gray + 40

.Marketing-copy
  figure
    img
      max-width 100%
      height auto

  h3
    text-align center
    margin .5em


// Footer
.Footer
  background sf_black
  padding 1em 2em
  img
    display inline-block
    width 75px

.Footer-links
  float right
  a
    color sf_white
    padding-right 1em
    &:last-child
      padding-right 0

// Forms
.Form-login
  //text-align center
  margin 1em auto
  padding 1em 0 2em 0
  border-top 1px solid sf_gray + 40
  h2
    margin .5em auto
    text-align center
    font-size 1.2em
    //padding 1.2em
  form
    width 250px
    margin 0 auto


.Form-input
  border 1px solid sf_gray
  border-radius 5px
  color sf_gray
  display inline-block
  padding .6em
  margin .3em 0
  //width 100%
  span.fa
    display inline-block
    text-align center
    width 30px
  input
    border 0
    margin 0
    padding 0
    box-sizing border-box
    &:focus
      border 0
      outline-offset 0
  &:last-of-type
    margin-bottom .7em


// Buttons
.btn
  background sf_gray
  border 0
  border-radius 5px
  color sf_white
  display inline-block
  font-size .9em
  text-align left
  text-decoration none
  padding .9em
  vertical-align middle
  width 205px
  //height 32px

  span.fa
    display inline-block
    text-align center
    width 30px

  &.btn-fb
    background sf_blue_fb
  &.btn-tw
    background sf_blue_tw
  &.btn-primary
    text-align center
    color sf_white
    background sf_pink
    width 244px

.text-border-left
  display inline-block
  border-left 2px solid sf_white + 20
  padding-left .5em

.text-gray
  color sf_gray

.text-center
  text-align center

.text-2x
  font-size 1.5em;
